<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page1</title>
    <style>
        .con {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .error-msg {

            color: red;
        }

        .error-border {
            border-color: red;
        }

    </style>
</head>
<body>
<div>
    <h1>
        데이터 송신 테스트
    </h1>
</div>
    <form method="POST" th:object="${htmlForm}">
        <div class="con">
            <label for="text">
                Text:
            </label>
            <input id="text" type="text" th:errorclass="error-border" th:field="*{text}">
            <div class="error-msg" th:errors="*{text}"></div>
        </div>

        <div class="con">
            <label for="email">
                Email:
            </label>
            <input id="email" type="email" th:errorclass="error-border" th:field="*{email}">
            <div class="error-msg" th:errors="*{email}"></div>
        </div>

        <div class="con">
            <label for="phone">
                Phone:
            </label>
            <input id="phone" type="text" th:errorclass="error-msg" th:field="*{phone}">
            <div class="error-msg" th:errors="*{phone}"></div>
        </div>

        <div class="con">
            <label for="local-date">
                LocalDate:
            </label>
            <input id="local-date" type="date" th:errorclass="error-msg" th:field="*{localDate}">
            <div class="error-msg" th:errors="*{localDate}"></div>
        </div>

        <div class="con">
            <button>전송</button>
        </div>

    </form>
</body>
</html>